.gradle
.gradletasknamecache
build/
!gradle/wrapper/gradle-wrapper.jar
.serverless
*.patch
.java-version

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/*/out/
/*/*/out/

### Terraform ###
terraform/.terraform
*.tfplan
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
application_code.zip
